body{
  margin : 0;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
.navin {
    display: inline;
    padding-right: 5%;
}
.navlink {
  color: white;
  text-decoration: none;
}
a:hover.navlink{
  color: red;
}
header{
  width: 100%;
}
.userlink {
  color: black;
  text-decoration: none;
}